<nav class="navbar navbar-expand-sm navbar-dark bg-dark w-50 m-auto">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="/">Mistmachine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fs-4 active" href="/">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ">
            <a class="nav-link fs-4 " href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<br>

<!-- Do stuff here -->