<br>
<br>
<br>

<div *ngIf="gameList.length === 0 && genreList.length === 0 && categoriesList.length === 0" class="m-auto w-25">
    <h1 class="h3 mb-3 fw-normal">Loading data, please wait...</h1>
    <div class="spinner-border text-primary spinner-border-lg m-auto">

    </div>
</div>

<div *ngIf="gameList.length !== 0 && genreList.length !== 0 && categoriesList.length !== 0"
    class="card w-50 m-auto shadow-sm">
    <main class="form-signin card-body m-auto p-3 w-75">
        <form [formGroup]="gameSelectorForm" (ngSubmit)="onSubmit()">

            <div class="d-flex justify-content-center">
                <h1 class="h3 mb-3 fw-normal">Game predictor</h1>
            </div>
            <br>

            <div class="form-floating mb-3">
                <input type="text" formControlName="title" class="form-control" id="floatingInput"
                    placeholder="name@example.com" />
                <label for="floatingInput">Game title</label>
            </div>

            <div *ngIf="submitted && f['title'].errors" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong *ngIf="f['title'].errors['required']">A game title is required.</strong>
            </div>
            <br>

            <div class="form-floating mb-6">
                <ng-multiselect-dropdown class="floating-input form-range" id="genres" [placeholder]="'Select Genres'"
                    [settings]="genreddSettings" [data]="genreList" [(ngModel)]="selectedGenres"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onGenreSelect($event)">
                </ng-multiselect-dropdown>
            </div>
            <br>

            <div *ngIf="submitted && selectedGenres.length === 0" id="genres-popover"
                class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>At least 1 genre is required.</strong>
            </div>
            <br>

            <div class="form-floating mb-6">
                <ng-multiselect-dropdown class="floating-input form-range" id="categories"
                    [placeholder]="'Select Categories'" [settings]="categoriesddSettings" [data]="categoriesList"
                    [(ngModel)]="selectedCategories" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCategorySelect($event)">
                </ng-multiselect-dropdown>
            </div>
            <br>

            <div *ngIf="submitted && selectedCategories.length === 0" id="categories-popover"
                class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>At least 1 category is required.</strong>
            </div>
            <br>

            <div class="form-floating mb-3">
                <label for="price">Price</label>
                <input type="range" formControlName="price" class="form-range" id="price" min="0" max="150" step="1"
                    [value]="price" (input)="updatePrice($event)" />
                <br>
                <br>

                <output [for]="price" id="priceOutput">Selected game price: {{ price }}</output>
            </div>

            <div *ngIf="submitted && f['price'].errors" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong *ngIf="f['price'].errors['required']">Price is required.</strong>
            </div>
            <br>

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary w-50 py-2" type="submit">
                    Predict
                </button>
            </div>


        </form>
    </main>
</div>